<widget xmlns="http://www.w3.org/ns/widgets">

<platform name="android">
	<icon density="ldpi" src="res/icon/android/ldpi.png"/>
	<icon density="mdpi" src="res/icon/android/mdpi.png"/>
	<icon density="hdpi" src="res/icon/android/hdpi.png"/>
	<icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
	<icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
	<icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
</platform>

</widget>