  
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="bonapk"
		version="1.0.0">


<name>
	Bonapk
</name>

<description>
	BONAPK
</description>

<author email="jurassiccoxa@gmail.com">
BONAMICO
</author>


<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<preference name="permissions" value="none" />
<platform name="android"/>

<icon src="icon.png" />
<plugin name="cordova-plugin-splashscreen" />
<splash src="splash.png"/>

</widget>
